.card {
    width: 200px;
    background-color: rgb(253, 228, 219);
    padding: 20px;
    border: 2px solid coral;
    text-align: center;
    border-radius: 4px;
}

.card div {
    font-size: 80px;
}

/* Add your CSS styles below this line */
.card::before {
    content: "SALE";
    padding: 5px;
    font-size: 25px;
    color:white;
    border-radius: 20px;
    background-color: red;
}

.card a {
    padding: 10px;
    background-color: rgb(210, 162, 72);
    border-radius: 5px;
    color:white;
    text-decoration: none;
}

.card: p:hover::after {
    content: "now $29";
    margin-left: 5px;
    color: red;
}

.card a:hover {
    background-color: rgb(255,228,219);
    border:2px solid coral;
    color:coral;
}

.card a:active {
    background-color: red;
    color: white;
    border: 0px;
}